* {
    margin: 0;
    box-sizing: border-box;
}


header
{
display: flex;
flex-direction: column;
align-self: stretch;
justify-content: center;
align-items: center;
width: 100%;
height: 88px;
}

.menu
{
display: flex;
padding: 32px 0px;
justify-content: center;
align-items: center;
gap: 72px;
width: 635px;
height: 24px;
}

.list-item {
    display: inline;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px; 
}

.list-item a {
    text-decoration: none; 
    color: #000;
}

.box 
{
    display: flex;
    width: 100%;
    height: 552px;
    padding: 92px auto;
    justify-content: center;
    align-items: center; 
    background: #00BDC9;
}

.content_div
{
    display: flex;
    margin: 88px auto;
    width: 856px;
    height: 744px;
    flex-direction: column;
    align-items: center;
}

h2
{
color: #000;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 64.8px;
align-self: stretch;
}

.text-div
{
    display: flex;
    padding: 40px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;    
}

.Stext 
{
color: #04959E;
font-family: Inter;
font-size: 21px;
font-style: normal;
font-weight: 600;
line-height: 150%;
}

.firts_text
{
color: #161616;
font-family: Inter;
font-size: 21px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 31.5px */
}

.list-with-item
{
    margin-top: 24px;
}

.item_ol
{
    color: #161616;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}

.list-with-item
{
    margin: auto;
    height: 351px;
    width: 865px;
    font-size: 18px;
}
.knopka
{
    height: 64px;
    width: 165px;
    background-color: #04959E;
    border: 10px solid #ffffff;
    padding: 0px;
    display: flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 18px;
}


.footer{
height: 60px;
display: flex;
flex-direction: column;
align-items: center;
margin: auto;
border-top: 1px solid black;
}
.footer-text{
width: 856px;
padding: 16px 0px;
text-align: center;
justify-content: space-between;
}
